<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;url=http://127.0.0.1:8000/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- TITLE -->
    <title>Fahrenheit</title>
    <link rel="icon" href="/static/images/icon.png">
</head>
<body>
<!-- Main Body -->
    <div class='center'>
        <p>Post Deleted Successfully</p>
        <a href="/"><p>Back to the Home Page</p></a>
    </div>
<!-- Main Body End-->
</body>
</html>
