* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.sty {
  padding: 120px;
  height: 100vh;
  background-image: linear-gradient(rgb(1, 112, 168), #7dd5e3);
  text-align: center;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  /* padding-top: 20%; */
}

.button {
  background-color: rgb(2, 88, 131); /* yellow */
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgb(100, 240, 245);
}

#id_email {
  font-size: 17px;
}

.errorlist{
  list-style: none;
  text-decoration: none ;
  padding: 20px;
}