{% load static %}
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}" />

    <!-- TITLE -->
    <title>Reset Password</title>
    <link rel="icon" href="/static/images/icon.png" />
  </head>
  <body>
    <!-- Main Body  -->

    <div class="sty">
      <a
        href="{% url 'home' %}"
        style="text-decoration: none"
        class="custom-card"
      >
        <div class="brand-title" data-aos="fade-right" data-aos-duration="1200">
          <img
            src="/static/images/white_logo.png"
            alt="logo"
            width="150"
            height="40"
          />
        </div>
      </a>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p>
        We've emailed you instructions for setting your password, if an account
        exists with the email you entered. You should receive them shortly.
      </p>
      <br />
      <p>
        If you don't receive an email, please make sure you've entered the
        address you registered with, and check your spam folder.
      </p>
      <br />
      <br />
      <p
        style="
          font-size: 20px;
          color: rgb(219, 226, 231);
          font-family: monospace;
        "
      >
        Thank You
      </p>
    </div>
    <!-- Main Body End-->
  </body>
</html>
