{% load static %}
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />

    <!-- TITLE -->
    <title>Password Reset</title>
    <link rel="icon" href="/static/images/icon.png" />
  </head>
  <body>
    <!-- Main Body  -->
    <div class="sty">
      <h1>
        <span
          style="
            color: rgb(3, 42, 61);
            font-family: Reggae One, cursive;
            font-size: 48px;
          "
          >Forgot Password</span
        >
      </h1>
      <br />
      <br />
      <br />
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <br />
        <button class="button button2" type="submit">Submit</button>
      </form>
    </div>
    <!-- Main Body End -->
  </body>
</html>
